.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;

  padding: 20px;
  background-color: #f1c40f;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}
